<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aeed8f">  <td>17/03/28 22:11:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:pl.asta.scenarios.downloadAfterLogin@146ba0ac]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>17/03/28 22:11:20</td>   <td>6624</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;downloadAfterLogin.setUp()[pri:0, instance:pl.asta.scenarios.downloadAfterLogin@146ba0ac]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>17/03/28 22:11:21</td>   <td>7189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="downloadAfterLogin.f()[pri:0, instance:pl.asta.scenarios.downloadAfterLogin@146ba0ac]">f</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>17/03/28 22:11:27</td>   <td>13074</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:pl.asta.scenarios.downloadAfterLogin@146ba0ac]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
</table>
